.alerter{padding:4px 4px 1px; flex-grow:1; max-height:27px;}
.alerter.notfunctional{background:#050000;}
	.al-button{float:right; width:16px; height:16px; cursor:pointer;}
	.al-button:hover{background-position:0px -16px;}
	.al-name{}
	.alerter.notfunctional .al-name{opacity:0.5; text-decoration:line-through;}
	.al-bar{background:rgba(255,255,255,0.1); height:5px;}
	.alerter.triggered .al-bar{background:rgba(255,0,0,0.12); height:5px;}
	.al-barinner{background:#888; height:100%;}
	.alerter.triggered .al-barinner{background:#5D1616;}
	.al-settings{background:url(settingstrans.png);}
	.al-remove{background:url(removealerter.png);}
	.al-help{background:url(helpicon.png);}
	.al-pause{background:url(pause.png); background-position:0px 0px;}
	.al-pause:hover{background-position:0px 16px;}
	.alerter.paused .al-pause{background-position:-16px 0px;}
	.alerter.paused .al-pause:hover{background-position:-16px -16px;}
	.alerter.paused .al-name::after{content:" - paused";}
	.alerter.paused .al-name{opacity:0.5;}
	.alerter.paused .al-bar{opacity:0.5;}

#settingsbar{width:100%;}
#alertwrapper{background:rgba(0,0,0,0.4); position:absolute; top:26px; left:0px; right:0px; bottom:0px; overflow:auto;}
#alertroot{display:flex; flex-flow:column; min-height:100%;}

.triggerlines{margin:1px 5px 5px;}
	.triggerlines-head{overflow:auto;}
		.triggerlines-addstring{float:right; background-image:url(add.png);}
		.triggerlines-addcolor{float:right; background-image:url(add.png);}
		.triggerlines-clear{float:right; background-image:url(deleteall.png);}
	.triggerlines-body{}
		.triggerlines-emptyline{color:rgba(0,0,0,0.8); text-align:center; max-width:70%; margin:0px auto;}
		.triggerlines-line{display:flex; align-items:center;}
		.triggerlines-text{width:70%; flex-grow:1;}
		.triggerlines-percent{width:20%; flex-grow:1;}
		.triggerlines-remove{background-image:url(remove.png);}
		.triggerlines-colbox{width:50%; flex-grow:1; min-width:70px; border:1px solid darkgray; background:#1c2931; align-self:stretch; text-shadow:1px 1px 0px #000; cursor:pointer; padding:2px;}
		.triggerlines-colpart{width:43px; flex-grow:1;}

.buffinput{margin:1px 5px 5px;}
	.buffinput-section{overflow:auto;}
	.buffinput-buff{float:left; width:27px; height:27px; border:1px solid #ccc; margin:1px; cursor:pointer;}
	.buffinput-buff:hover{border:1px solid #888;}
	.buffinput-buff.selected{outline:1px solid blue;}
	.buffinput-reload{display:inline-block; width:1.2em; height:1.2em; background:url("reload.png"); cursor:pointer; background-size:cover; margin-left:5px; vertical-align:bottom;}

.alarminput{}
	.alarminput{}

.presetentry{text-align:center; cursor:pointer; padding:3px 5px;}
.presetentry:hover{background:rgba(128,128,128,0.2);}
.presetentry.selected{background:rgba(128,128,128,0.5);}

.filebar{height:220px; margin:0px 2px;}
	.file{padding:2px; cursor:default; height:16px;}
	.file:hover{background:rgba(128,128,128,0.2);}
	.file.selected{background:rgba(128,128,128,0.5);}
		.filebutton{width:16px; height:16px; float:right; cursor:pointer;}
		.filebutton:hover{background-position:0px -16px;}
		.savefile{background-image:url(savefile.png);}
		.deletefile{background-image:url(deletefile.png);}
		.loadfile{background-image:url(loadfile.png);}
		.exportfile{background-image:url(exportfile.png);}
		.editfile{background-image:url(editfile.png);}

.iconbutton{width:18px; height:18px; cursor:pointer; min-width:18px;}
.iconbutton:hover{background-position:0px -18px;}

.menubutton{margin:1px;}
#presetbutton, #intropreset{background-image:url(loadpreset.png);}
#addalertbutton, #introaddalert{background-image:url(emptybutton.png);}
#settingsbutton{background-image:url(settingsbutton2.png);}
#savebutton{background-image:url(savebutton2.png);}
#feedbackbutton, #introfeedback{background-image:url(feedbackbutton.png);}
#toiletmode{background-image:url(toiletmode.png);}

#quicksettings{float:right;}
	#alarmvolume{width:45px; height:20px; background:url(volumeslider.png) 0px 0px;}
		#alarmvolumeinner{width:0%; height:20px; background:url(volumeslider.png) 0px -20px;}
	#alarmname{float:right;}

#intro{position:absolute; top:0px; left:0px; padding:5px;}
.introsection{clear:both; margin-bottom:4px; overflow:auto;}
.introbutton{width:21px; height:21px; float:left; margin-right:5px;}
.introbutton:hover{-webkit-filter:brightness(0.9); filter:brightness(0.9);}

.nissmallimagebutton.highlight{background-position:0px -21px; box-shadow:0px 0px 5px #fff;}

.chatbox{}
	.chatbox-colorbox{display:flex;}
	.chatbox-color{flex:1; border:1px solid rgba(0,0,0,0.4);}
	.chatbox-menu{display:flex;flex-direction:row;}
		.chatbox-menuitem{flex:1; margin:3px;}
		.chatbox-time{}
		.chatbox-tab{cursor:pointer; border:1px solid rgba(0,0,0,0.6); text-align:center;}
		.chatbox-tab:hover{background:rgba(0,0,0,0.2);}
	.chatbox-refresh{}
	.chatbox-content{background:#0c1a23; padding:3px; overflow-x:auto;}
		.chatbox-line{font-size:12px; white-space:nowrap;}
			.chatbox-linefrag{display:inline;}
			.chatbox-line-clickable .chatbox-linefrag{cursor:pointer;}
